<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="514" />
    <add key="mainForm.Location.Y" value="191" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/0/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="/lpc/nct6779d/fan/3/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOMrKa5xWH3Xg4GBw+lf2xEWBjDgcLqyM/m6AJh94L9/ijwzTJzj2UNlGHvl+33TGaFqzmlFMMLEf/zxMoKxtTleVTJA1bguToarKZlswg5jAwArleLZhAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOMrKa5xWH3Xg4GBwfVf2xEWBghwvbIz+boAmHngf3i3PDNMnO3ZQ2UYe/GJfdMZoWrOaUUwwsT/K3sbwdgqD19WMkDVFJ9Khqvxn2zCDmMDAC0lcnKEAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAD2RTyiDYRzHX6S2ec2793FZDjSLOC4rF5rtazkpB8ZJszFFHDYH+dObuHBwUIQsRS6iUMqUjB3WWqxGytqKHChpFw5zmHmfX3tOn+fX9/vr+3wffcA/aztMd9kaS3CUHSoVCscWEtCz7i7yw4XnSfq/CNd510ptmYrdDJurI6pGyDH8Lno5nzLcbowUecrFdwrjDPYZ0lgYBvZJs8Rg8I5y9jLkzB6VlXcZDit5TTJ69TyP0C4j3MC9iiLD5KQ9ERmpPtK3MsTinBUHQ2CY5lkZe9GrjRJ6y11zv4q2NS1ugpTNq0XwhNilRTTE8wjfGiTzlCGjQdUW7UxpILYQpzVoY8SvOnyeDXN+E3HwQ94FEfP2Cc4dIhLPpKkR4ZOILSLW56iTTh3C5XyuRCpgjfv4fLISbiPpE3ocL1NmZxV8O6TZ1aNeR167iLom6mqwwNuUs1qE+eVjWqBO/DGP2oliNOD8i/7iQcLlI9+v3EvI3I1xTkr4A2BnYT5AAgAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAD2RSyiEURTHPyY7eWRlIZKIslDGbmrin2QxpTwXo2FeimwGJY++BSVTRJnxqFkgGxGpO3PnKzPDZpKmKaRoPFZSQhazYDHGd07u6nf//c85/3tuwZhn2ryfarONRHDwOZirZM/TdgQdvoF/vpb226K/ixLN9HjLDTr2CWwsu3SPYhD4mXMQ1wic+13/PN5DPZV2geYp9rgF+nbJo5oEih1DpFsEvqvsOke9Ai1Grv0Q6CqgPMqzQKyaaqMRgcpWnhUQuO9mv0Pg4pLY3C8w5mR9QWAnfurP4bck6np1tDVpOAtwNouGwDGx2qkhHqY86ryGqwxnWNFQuEk91VUN+Y3MWd1UwrOWw3g7cRIvSeyluTYiMds8Sv5HieQdedQvCXcR+18kfDO0EzUVRiyP9GhZGMZLN+ltEgOl7F8P4XCR81tDsE6QRzkKob6Bax8kKmp558ksb3HOtETV8+ukwjvxXNj1nZg9QYh3/ou1ILQb6m9eD+IhMUzsC+IXWE0fv0ACAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAD2QSyhEcRjFr1eExojNrNzMIFYWyEbdgyTNAnnujBkzSkmhyGsWVmbByoRIkY1HSRFKHqUhdIs7Zu4dZkwz15BkZUFec7+b/+r3/zrf6XxH09c7zK3eVTdcnmH9rT2W+Xvx+jPUTZv++WbXfKuNfpjDn2ZHVlyUAvkyZiatimax5BGf4xaF2VMZJ07rP/c3k+dhi4zyIVXzHUbrMmn4MRnplk6FOaOMD4NZ4WpHGBXFtMs2htCooTwBewhHubTrioSQXUXM1YchNZHenijj/IJ4QCejr4OYcYax5Dpwxqi3XBW0KJj57sbxAmXj1txY2CR+c7rh2qM8/LeA6x81gyggbZY8C90CUouIa70CyjLUzDFevGx1kKfBh5V32mUdEkbLuxWeypHAi6QpfBZh0xKzGgnTI9QJn+LBUQLNk8wiii9sCvd8+WDS0ZzJ8WNjgjK33flhmycNI95Dn0yaSJ4ENp+66mn44znKyflFGB6eBhm1k95zs9KJZyeI7Ve6PckYxL5A/qWVQdxfdVG3NUH8AmqN/2ZAAgAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4Fhgf3aD0lMDBBgHzItEcZmuP0g+boAmHXgv3+KPDNEtMEuoz+NCcaOikuBq5+yLw3OLgtPgqtxqEaombkEpsbB/mJyBtxeFp9kONuUD+4ehkotmHsO2IfxIOwtz4bbZb9OH2HX988Idp4dwl8r3++bzgj1y1HmCEaY+YfnIdw2b2MKXO/JXclw9i01hDlsxQjzfdyPsMDYzzanwv218lsiwm2ueXDzV/5LhetNF0iFq5lWmwH34+p7KXBzHM+kw9lpknC99su6EGqy5qbDzVThQphfK48In421MDcvsLfXf1UJteu/6+JkeDjse4fw78M/iHC4ujwbbg4A8qG4QTQCAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAGPxLa5xWH3XgwEIGNuPsDBAwe0HydcFwKwD//1T5Jlh4hzPHirD2Cvf75vOCFVzlDmCESb+9o+XEYxtr/+qkgGqxnVxMlxNyWQTdhgbAEibDhmEAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4HhhMPaD0lMDGBwwiFkWiKUfcDh9oPk6wIQ9n//FHlmiPgEh4z+NKiaDw5RcSlQ9gOHKfvS4OyycJiZLxwcqhFqZi5Jg4tfTM6Am8Pikwxlczia8iXB1Vdqwdwj4hjGg9Bbnp0GF1+nD1PP4Pj9cxLczDw7GJvHceX7fdMZoX45yhwBYTI02B+eB3NbgMO8jSlwv5/cBXPPBYdbajBzbjiwFSPY3CZJcPWOwgjxZ5tTEfZ+S4Sbs841D65+5b9UuPp0gVS4mmm1sDBxcVx9LwUeJo5n0qFsFsc0SZh6DcdlXTA1Bo5Zc9Ph4abCBVNzwqFWHhEvG2th7mxytNd/VQl1z3/XxcnwMNn3Dub3DoeHfxBhcnV5NtydAAd3BnFAAgAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4HBwWHthyQmBgiwD5mWCGMz3H6QfF0AzDrw3z9FnhkiWuCQ0Z8GVbPAISouBcqe4TBlH0x8gkNZOMzMDQ4O1TA1HQ4zl8DUrHC4mJwBZe9wYPFJhrJ/OJjyJcHNqdSCuUfBMYwHYW95NozN4bhOH6b+gsP3zzD2AYc8uyS4mpXv901nhPrlKHMEhMngYH94Xgrcv/M2wtgNdid3wdzzwP6WGjx8HNiKYWwBB24TGNvB3lEYbq/9s82pcD+u/JYIF1/nmge3a+U/mJoF9ukCCPa0WliYaDiuvgd3j4PjmXS4mWmSMPUvHJZ1wd3vmDU3HW6XChdMDYN9rXwaXHxjLcydNY72+q8qoeL/XRcnM8LU73uXDNf78A8ifK4uz4a5xx4AsgGvCkACAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAGPxLa5xWH3XQzBJy2XFySQmBjBod47cmwhn336QfF0AzD7w38NWnhnE+nJyhUv+tjSwmlzp+c5RcSlw9W4/xORh7JXv901nhOo9yhwBZioeOetyeB5E/fHzzS7zNqbAzTm5KxluzuGPstowtr3+q0oGqDmui5Ph5rA/T4abM/Euwpzzy7Ph5gAAOXoAceQAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg/FNt8uKk0lMDEDAyLDIOXJvIpx9+0HydQEQh+HAfw9beWawuM8ql/xtaXA1C8KqFWHs+Sf2TWeEqj+vFQFmMkpEux6elwJRf4DXZd7GFLjenjWNujC2vf6rSgaoXtfFyXC97M+T4Xon3kXoPb88G84GAGm8+7bMAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAGPxLa5xWH3XQzBplfOKk0lMDGDA7hy5NxHOvv0g+boAmH3gv4etPDOI9eWkhkv+tjSwmlxpeeeouBS4ercfYvIw9vwT+6YzQvWe14oAMxWP+LocngdRf/w8s8u8jSlwc07uSoabc/ijrDaMba//qpIBao7r4mS4OezPk+HmTLyLMOf88my4OQBd8TWu5AAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANuhWlzjsPquBwNDu8u2k0lMDCDwod2lb28ihP2gw+UJe8p1ATDnwH8PW3lmMFOgzYWhJg2u5kBhCoQNNKdlehrcnPSYaD4YO5cZYWYwVxpcvXwXgn1ZLwmu5tT1JLj481SE2xa83zedEeqeLuYIKLPLhX9+Clxvx8YUuPqNu5Lh7K+yCPOXdhxhgbE3WCHsur05Fa7G4nwiXO+BEEt2GHvblAwmmL1a76F2Xeh0ebkkHa5e19EQrl6RKxWu5rMbItz46hD++hL6qpIB6q8HBcmMMPd430e4bZM4ImzPL8+GiwMAFyiML8gBAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANuhWlzjsPquBwODmNO2k0lMDGAg6OQ/LRHKFnBS1k+5LgBmH/h/TFSeGSIu5SRekwZVI+qkPTMFyhZxKrooJg9j14jtn84I1dvFHAFhMqg4TSyHqZdyur8RxpZwuvEwGcoWd/oqC3OPmNPT6iS4+Qd4kuD23hBGiB82n6oIY7/Se1XJALX31fRkuL3e92HqJZ1WfUiF25WzPBvOBgB/gbk9FAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC3QTSjDcRgH8D+yKRrPkwNKDihJnMYF7VsO7i4cyLxvKXEdLpLCwUvRykbLu4PyMsyUmkyjOSFtDi4oJRw2Vl7m9/ifPv9v3//z+/2fWGHagGnjrlaPbLh3WhK1+FNvykZlNP824+9FO/7RjL6kPwUvCfbKDtVZWCJczbUqx+wErVry17jvu83KFgfBNip5IG6/S1ziIpwOisuchPkhOTd5mxAOiJ93CQUnMqfKSzAG5ayHA4K1r0u54pBgKZD+5DlhrFj6ZxFCT6/kWSFCzlPubML/v/T4YopJTka/V2aOHDNeHO3KHz5Gqlm+fdxnNG6LazyMVaPMbzpi+CySzx0wpu0yJxq3tU585WfkXXQqh9cYHQGrcvMKwx1pU9ZNMYqWpTNlYuyFJNcbGOVv0r/JZLiW5G4NK4Tvd+m0bqZjUS87jM4YEGTplEYJw+dyh70sxrVH8qdPguFz3ab97yG0oVP5eBcjpV764SHGl82ifGFmTJDseauZ8QvXA+gOKAIAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2QXSjDURiH/6bQfEspEWVKbtyYdiF+d9ud8hUXYj42+yey2+EGpbmgJBSphWSuRiOtLBOa2R055xDiwoXko8jkYzvvztVzfj3nfd/zRkrThuG+NqkJIXi3OzVK9JxoQqj+LGFZsYvi/1P0gcQYXd1zLFRbpGMwCJwvdkkeqxNQaiifj/Jdn1nymknA4aT8wShw7CIurhU4GiHOj+bLo9S3v1DgKkjsyhPQHVKdX62APky9NjMFVHuvZG26gE1HfvMTx2Q5+Y+zHAODlJvOOPIfC+cS4n8ZCEQk2o0MQz6qqWoYnpd6JE98XyLVTG83shnatohfMhjW9VTfl8IQsFGOLIaZBarjzGRQG4jD75coClkl+ysYLEFV8m4lg/ejW3JfO0PZGjmNGo4dQblq5ah6JT/YyuFapdmOKgV+38jx6G6wkkw7dDbdIZxDTkH07+OnNIO2nuNij/L1KY6Mrw2HEt+DcCfJvMPDkNJCvt/B8OOwSb7dZ5jOpj3nHjD8A5Mnf/coAgAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC2QSyjEURSH/yiU8RosLDSexT2FzcyGhn4sbCzEgoWFt5lkopQaFFIyJZGmqfEajzRk41WyGI2YELMZj4YFJWWhWJDJa9wzd/XdX98959wTyFH1l67dVTxdabCz1RiuBE/gWoPij6ybhP+L4vpVtO6If+obJNiKW6Uz7Sb47E2SfT6Couf8Mcj3HQ2Se7wE8xjntxeEYwfzj4dwNMCsD+Zzw9zXukG4PWFWOQnZh1wnZ56gPede3kWCsbtdsmuBYMhmP32UYBHst5cTTF2cn5oIiQdp1rDQX3qfAxLr9AJ9+1wT0QIvMy2S78IFYhr4rS5ZoH6TWa0WWNVyfV2sgNvAeWqSwJSN61iCjrE6NOdXHjRnbZI9JNB6YpS8XiCw894sObNKIHeFnSOvwK6f84CGoHtlvzKF4Fjm2R5chJ83duyX+ViK4h2qxgtxrmbHU0YYOeUZiuIJl3ucD5UQ4j6dZiW0B/9apMwzJgWia9mvaRP4Nhskb9sFJhJ5z52zAn8pZXJTKAIAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEANuhWlzjsPquBwMQdEQdYWGAgt9RgdcFwKwD/7PfGzLDxLc8e6gMYx85uWo6I1SNU0AOI0y89q+XEYyd4nu1kgGqpqCyAq4msdyEHcYGAOdiytCEAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAC3QWyiDYRgH8BlDI4kL1y4QicyFRPnPhVbOY06F7DPmc2ayaaQISXKoUcghWSYuTCgXJGpkCWmOTZELxRx348LhffZd/b63//s8z/tshjTrsXQrs1wtYP1AKRT8fZF8PE6Hyph3rRJ8F2Xb/P9/BDs/1Y4Y93/J3dYRpK9gmcJVC5Yby5lNm2oIt+nc0K2EJp9q9hlGcd1GmZFoKcbnKWOxanHJqZn13zxqqzjmonYe8W80w9lXJuoiyFZjP3LEdDcgl8OTkvwoSod3HvWyt8lxaCOXPhfDJ4l8LN/A3oFpzM31luSsGsZ78z6GW2m2RVEwuE5yVEUo7F7kz7U08OFUpwAzMGvIHk0DeA8kJyrqceFyWgEPu1nF3DOpgq+T5vddnMNWch2z50QcgsJofo14FC9P1MvzfhLqWtqJU9QCdwedDzq7UHJUSfs0rsAAqj8bHieVcJS5iQ2QqqYoM33Xi2AxZbwHZPhIoV49Nxnw66A5ee01ytPPdQLXThp0WrYTm+kBqXbKSHsjYHqlOjJhAmqM1cwnimj8Atnoj1FAAgAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAC3QWyiDYRgH8NkI28hHbA4Xji3SHC5oqO1PSS0iNaUotjmOnMohSVwpyiGnolwoIlqG5JAlEimZnJKmcEPMkBQ5vc++q9/39n+f53mflYj6VtXsVcbiehyW94r5vL/vwSKCpbeIWSUW4jM/58zr/4dn/qm0xQn+FbyhgKS1hGUeY9IwV6tj1uVKwd+k8+kxPzTkUc27GxkuWyhj/PLAyCRlYpVBuNCWMQ+Ypagq1zLfHkqhsNMM/CMO1VHkAmMYcoV0NylWgvti8o6Gg5uGei2cemP/jKyc94VISU5JTMb23sywk+MtqdkGxi0XoK+RZnP+doG2nbyqdoXVldzlzqEikuqMJsphaiDnaMLx4kMuufbHucMdy1JYTXrmrAkJxO80v2A6Bmup1bQHowgSGc3f0y/D0z31ej+ORlkV7US+EAiBjc4Pp4JReFDK/LaagCEV1fcs7Ua8ljIfS3XQj1MmbDcUIULKWEK88JpOvbr3OXi20ZyDNZnQZZ408xw7qWluYjsx27OhtlLGpHbDzDPV2e4UwzBVyRzQ5Y5f8WK8aEACAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANuhWlzjsPquh7lkguu2k0lMDEBwYdoJl0sTEuHs31GB1wVAHIYD/7PfGzKDWKdMWF3Fa9LgatYbnGaBsUvCIebMbWBwvV2VAldTyHEeriY3Mxks3hTG4Wr5EWLXeaB4nhaEHXyUzTWYC2H+q6Q0uBqOMIj5F4HsU9cRbua2R7CPnFw1nRHqZqeAHDDTHOjmieUI9yQ3INj32SFsCeN3LlmaEHNCgW7YXJIEd88nYQi7crKk6w1hhF33N6fC2TzfEO7f7ZQHd6e4ehrcv+9eQezSvSHvmpGbAdfL/B7hnrgz6WC2GtDN0xwg5u8RyHY1SoaomZWo45o6Nx2uXpErFR4+n90Q4cZXB3Gn0Dp11xyPq5UM0DDJqKsAh0kj0J3e9xF+WfUhFW5vzvJsuDgAvNhUaigCAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJtzoqDGYfVdj8c7vV0Pn0liYgACNRNWV6nXEPaFaSdcDkUFXRcAcRgO/H/YrM8MYmmHc7he6U2Dq1cqT4Grn7sxDc7eFwkxZ24Dg+uKHoSamV/PscDYqQnJYPGQo2yu+xgh6s8DxV8JJoLZqkDzmeQQZr6KToOrkYyHqL8IZG+/hnDzVG8EW0hq7XRGqPv/vMsEM1OBdjm2INzzIxnBTlGFsCWM37kUGEPMUQe6oSUFET7CcgjxeiaEXb2LU+Fsd3aE+hv2eXB3LlaBuL8pjMOV5wvELt0b8q6yJRlwvZ2vEO55fTUdzLa313TNVoCYH+Xl6yrTnAIX1+pOh6t35EuFh88Xb0S4vUuDuCfvgpZrzITrlQzQMJF1LQOHSSMwTPieIPzy/3UqPF5O7siGiwMAI8zYgzQCAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANtcnlfjsPqux6cLWq69u5KYGICgKYzDdfJbCPvCtBMuGbtDrguAOAwH/itp6DKDWFoOmq63mtPAatRMWF1ftqfA1dtvSoOzpQIh5sxtYHCVnYJQs/jRORYYuzsyGSwecpTNde6fRDD7PFDcQxbCVgWaf8sYYeYCnzS4mv+hEPMvAtl1dxBuDnBCsPU6109nhLrfrz8dzOSRVXNVmolwj4I9gp1oBGFLGL9z+W4CMUcd6IavKRB2MNCdj4QR4l7CCLs2tafC2RHqCLfJ+eTB2b8lEOEm+gFil+4NeddtMRlwvQVMEHO0Zn13efcxHcxuBMbLvDcQ9Sm8Nq729RC2g72mK/e6dLjeGWyp8PD564YIt9qQJLj6Nwy3KhmgYbLpfTE4TFYDxd8jhWGbTBo8XjJLsuHiABsBi/Y0AgAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHNQz6lxWH3XI6fii8uDnUlMDEBwYdoJF9arCLaYavh1ARCH4cD/05e0mEGsX+vUXYsr0sBqQo6yub5YnwJXHzYtDc4WCISYM7eBwfVRG0JN55NzLDB2ZFAyWFzNhNVVmRmi/jxQ/IN8Ilw9kyPCTFnrNLiaPZkQ9ReB7LzjCDefDkCwc+5tnM4IdX+/cSqYaQ606+VkhHv67BHseyoQtoTxO5cYG4T5NyMg7GCgfyNtIWx1oDnTXiPceaM3FeEGbYRe9ZA8OFuQDeEXFSaIet0b8q4LPTLg4veFIeJas767/H+RDmbb22u6zn0GcZsDkF1WlwIXX7EPoiYU6DZm9lR4+Hz0R9jVYQ1xjxAw7uoK71QyQMPk+PJCcJg0AvXuPYQIt6/zL8LjCACRFfELKAIAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANuhWlzjsPquR970E07bTiYxMQDBhWknnC5NSISzf0cFXhcAcRgO/M9+b8gMYk0FqhevSYOruVNyRADGtvwI0XseyM7TQpgTzIVQ/yopDa6GIwxi70Ug+9R1hBu47RHsIydXTWeEusEpIAfM/AQUn1ieAlfj1HGCBcbO0kSYubkkCW7XJ2GEmduPH4er5/mWCFe/2ykPzhZXR7j53SuIXeeA7IzcDLg483uEG+LOpMPtmuaQChc3Sk6Bi6fOTYeLK3KlwsU/uyHs4qtDuL9G/molA9TvEcsrwH7XBoa/932EX8RmXIT7BQCcPN6P1AEAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADMOzqpxWH3Xg4FBwSl0XjITAxgIOe3ZlAhl8zt9N4u8LgBmH/hvvVGDGSKu6HQyKw2qRtYpfXYKlC3mdG9BGpwd1ZQEZYs6rcuAqRFx4mpIg4vHNmbAxev0kuF6/6knwcVdGBPh4g+t0+Di7P8Q7Mz5CDXyzxD2Sgch2A8+bp7OCPVLs2gyhMmg4sQ8D+Y2CaetZgi/pIilwPVmyyXBxb80w9gyTjGOSfBw+HcP4Ybs+6lQtpST/ASYv+SdatfkwNUUvk5F2KuEYG8yzIDbOx0uLu5U8SqdCebmuFswtyk69ZTC2OpOX3fC1Eg6rVRDmGnkmQY3Z6NuEtw9XTPvVTJAw2R7Yz40TDScVm5OgpvDej4N7pcXt7Lg4gAnDeCeQAIAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANMIyKpxWH3Xg4FB2On7vGQmBjDgdlLdmghlszt9N4u8LgBmH/h/Z60GM0Rc1MkxOw2qRsgpZ3YKXP2BxTBxVqfvdUlQNqfT1gyYGi4n/oY0uHq7xgy4vV8Mk+Fq/qnD9HI4vfqbAGdb26fB1cz5hWBfWZQIN+fYI4S9SkFJcDVGXzdPZ4T6RVMoGcJkEHeKXZgCV3/FGMZmc3KVRLg5Ww7hni/NMDaPE4MdwvyjB4+zwNgnepLhaorX5MDVXHqXCmXzOsXJI9hbDTPg5k9QSoXrvfw2Hc7edj0FHuYmFTC2hNO8belw969TS4XbxeOJCB9NwyR4+HTNvFfJAA2HtLp8aDhIO/3ahvAX63mE3he3suB6Af6lu+o0AgAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEABP2y6pxWH3Xg4FB0MltXjITAxjwOL3enghlczp9N4u8LgBmH/jPvkSDGSIu7nSyMA2qRsQpdXYKlC3gJLIcJs7vNLc6CcoWcjqUgVAj2JAGF7dqzICrdzZNhpupygjTK+iUoZgIZ09zQuideTkNLn79JEwNn1Pd/SS4mYpBMLawU/WPzdMZoX65yZcMYTJIOMUuTIGbecU4Ba53qkwK3PxsOYSZX5oRZq63QrC/3EuE+1HpWSpcvLwT5i9RJ9Y5OVA2r9NEJoRfuGVS4eythhlwc6YpIcxR+JgOD59XV2Fuk3RiqIKxZZ28NqfD3blRLRXO5vZMg4dPtQnCzV0z71UyQMNEtDofGibSTt67YGrEnFjPI+L6xa0sOBsA9uTbI0ACAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANPwyapxWH3Xg4FB3MlrdjITAxgIOF3akwhl8zmpPYq4LgBmH/h/44cGM0RcwakpLw2qRtYpaHYKlC3mlLcKJi7q5FmRBGcfzYCpEXZisZ7CCWMryyXC1dx2hekVcnq5JA2uvv1HIlzc9E4SnP01EGH+l7WbpzNC3dkUmQxhMig6JS+E2SvidMsY4YY78gjxbLkkuPiSAhhbwmmeF4wt5bTmeCJc/WkGmNsknaJKYeEm46S0IQeuZiITTI24016JVLj6TYYZcLumKqXCw63oSzqULedUcQXmNiWnomoYW83pzfp0uNv2qaXC2ayeiDA/K5AEd0//gXuVDNAwOVaeDw0TFadZe5PgbmM9nwZ3w4tbWXBxAKCr0a0cAgAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJukkVXjsPquBwODvNODfclMDGAg4HRpTyKcrfYo4roAmH3g/40fGswQcTkn96w0qBoJp7vTUqBsESe5zTBxIaey4iQ4e3csTI2wk383Qk1DVgZcPNkN5gZRp/V8SXDxEMlEuPgqrzS4Xf66CLZiAUy9mFPSaQR7X1gSXM2/nZunM0L94hmYDGEyKDl5z4C5Tdyp1AHBnqSSArc3Ww5h5hK4XTJOvaYwtpTT3jswd0o69W5KhaufcRjmLwUnpQ05cPGJTGlwNptIKtze5YYZcDcHSabC3VDOlAE3Z85FmNvknPzqEOyAJelwM4/oIvR2GafBzb+nlQRXH1x1r5IBGiY2O/OhYaLslHAoCe4Xv7lpcPZ8nmx4vAMAixSLsEACAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJukkVXjsPqux65vixwe7EtmYgACpoZyh0t7EsFsv/vNDpLMntcFQByGA/+fXrdgBrGWea11cM9KA6uJ36jneHdaCpi9IXiqg9xmiLhr9GaHsuIkMJuhIddhdyxEzbceKwf/boiaM7q3HBqyMsDse9o3HJLdIG7QfDHVYT0fRO8ERg+HEEmIe4x65jis8oLoFbE+7uCvC2G/d1nroFgAUb+t7LlD0mkIe//Z3Q77wiDsKa5ejkcOL5/OCPVLs3s+mPnV5rCD9wyI29TLKuxLHWDs+/aTVKDsW/EO2XIQc4IuuDssgdoVtyXEodcU5scQh713IO6c0GjtMKE7FRKGa2Y7TH0F8VfFOg5HpQ05YHZITqBD622IGqvCNw5C1hD2zvKDDssNIWHSk3fGIUgSIn6474dDORNEnPHAD4c5F6Fhbqzt6FcHYScvl3MMWJIOZmt8++BwRBei1ydHz6HLGBJWN072OdzTgrg5o0jIUVDxViUDNEzqhErAYSLGf8Mh4RBEzQk/Tge/uRC93x7HOcznyQazX7joOgAAVdMLwUACAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJukkVXjsPquB9fXlw4P9iUzMQCBgnWl/aU9iWB2A88JO0lmz+sCIA7Dgf9Pr1swg1jzpqQ7uGelgdXMMP7gcHdaCpjdJZvrILcZIq75PcehrDgJzGZo4HTYHQtRM2HucXv/boiaE+cSHBqyMsBsq41xDsluEDfcz53qsJ4Pqpdhmn2IJMQ9OqfXO6zygujVlZrt4K8LYd+pbnJQLICofxHY6ZB0GmavksO+MAhbT8rO8cjh5dMZoX5pds8HMxkPTHHwnpEC9buofakDhO1QdsxukgqEnfPW2iFbDmIOuzynwxKoXRMarR16TWHu9HDYewfizjvZv+wndKdCxR/aT30F8ZePwC4HpQ05YDaXnYVD622Imjucog5C1hC2yO4ch+WGkDBZfTveIUgSIv5v/w+HciaIOKPDLoc5FyFue/wjxtGvDsJmWODsGLAkHcw+3HfM4YguRO8aySn2XcaQsHrvoutwTwseL46CircqGaBhUidUAg6TBe8CHBIOwf1l7zcXotd0y2T7+TzZ0PiabA8ATffu8EACAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJukkVXjsPquB8PNiQ4P9iUzMQCBepmb/aU9iWD2S+Pp9pLMntcFQByGA/+fXrdgBrFOF/Q5uGelgdXUJLx0uDstBcz2eZPjILcZIj5jz36HsuIkMJuhgdNhdyxETZdsiIN/N0RNeMJKh4asDDDbS67PIdkN4oauu00O6/lgeq0dQiQh7jn08rjDKi+I3klW0xz8dSHsNy2zHBQLoOoPrHBIOg1h/+JZ6bAvDML2fm3reOTw8umMUL80u+eDmZOePHPwngFxGwODh32pA4Q9KbHGfpIKhF0hddIhWw5izp/SAw5LYHYxPHToNYWwUySnOey9A3Eng8MchwndqVD2OYepryD+OrX1sYPShhww+8nbWIfW2xA1749YOghZQ9g3ONc5LDeEhEns+xsOQZIQ8TsrfjiUM0HE3z7RdZxzEeI2L7Pjjn51EHanbbtjwJJ0MJvRYaHDEV2I3hN+1g5dxmlw8XtaEDe/l7FyFFS8VckADZM6oRJwmPw5f9kh4VASND0cs/ebC9GrVDnFfj5PNlRcxAEAiE73bUACAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAMtizKpxWH3Xg2t+syPHs2QmBiDwyRF1ODI1EcxO4Hxor67leV0AxGE48P/pdQtmEMume42je1YaWM2hMzcc7k5LAbN9I447yG2GiC9YNsuhrDgJzGZoCHHYHQtR0zVX1MG/G6JGreygQ0NWBpjNnzvLIdkN4gYGhocO6/kgek/4WTuESELcc3rTW4dVXhC9T+NXOPjrQtgZLJYOigVQ9Q5bHZJOQ9gpkg8d9oVB2D6q4Y5HDi+fzgj1S7N7PpjZ/qDf0XsGxG0i1g/sSx1g7OP2k1Qg7FUL9Byy5aDmn3N3WAK1i4HBw6HXFCq+Sclh751EqPgJ+wndqVC/dzpMfQXxV2CJkKPShhww+17nXfvW2xA1SyKsHISsIew7nVYOyw0hYWJ85oBDkCREXGT3ZYdyJoj4nJzvDnMuQtx2htvC0a8Own5UqesYsCQdzHY5/trhiC7UDQy/7LuMIWE194auwz0tiJttLko7CireqmSAhkmdUAk4TP49kXNMOARRw2c31d5vLkSvwfbJ9vN5ssHsjcK6DgDlXSRdQAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJukkVXjsPquh+wKVscH+5KZGIDALeef/aU9iWB2Sf47e0lmz+sCIA7Dgf9Pr1swg1hhZjyO7llpYDXFPxgd705LAbOtciY5yG2GiHfwLXQoK04CsxkcTB12x0LUbGNVcvDvhqh5HbXWoSErA8z+wTzHIdkN4oZnZxY7rOeD6BUrUXIIkYS451fNAYdVXhC9n6xXOPjrQth/N3Y6KBZA1Idu2uyQdBrC5ji71GFfGNScGHfHI4eXT2eE+qXZPR/MLD3D7+g9A+K2L0ea7EsdIOwX86faT1KBsL3Uyx2y5SDmtGWlOSyB2rXXrdmh1xTCTrkZ5bD3DsSd93xNHSZ0p4LZwq+7HKa+gvjrFdNXB6UNOWB2yHRTh9bbEDU1TRUOQtYQNsvJCQ7LDSFh8qd1q0OQJER8Q857h3ImiPj5YwyOcy5C3Oa4stjRrw7CFut3dwxYkg5mcypfdDiiC9H7z5DHocsYElYhZ/Ic7mlB3KxcIePI9utmJQM0TDotS8BhItFxxSHhEERN9pQt9n5zIXpls+/Zz+fJBrPva/I5AAClm/mdQAIAAA==" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDCaf9yUlMDGBwwunb6r03BMDsA/9vdGiywMSnBt1ThrHti/ZNY4SqWW8fBdf7OOy5Ptwc9ZBqBqiaqthYuJrvb03YYWwAelzVlYQAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDCaf9yUlMDGBwwunb6r03BMDsA/9vdGiywMSnBt1ThrHti/ZNY4SqWW8fBdf7OOy5Ptwc9ZBqBqiaqthYuJrvb03YYWwAelzVlYQAAAA=" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDgdP+5CQmBjAocPq2eu8NATD7wP8bHZosINa3r4VOsy3TmGDsovvJcPUdliLyMLZ90b5pjFC96+2jwGr27ytyOroYof6N71YBGHvdtXSw+MkTBU6cC7Pgas7/S4GLK9xIh4ufm3CeBcYOW5kKN//3RYj6rMxKp4MGEHd2tBc7sRilwvWuWH4Srvebekg1A9SdVbGxYDVvXhc7hfAh3Ln4/kW4egDPBTZPLAEAAA==" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEALsjwFzrsPquByvrU8f9yUlMDEDg6HjT8dvqvTcEQByGA/9vdGiygFhRUZ8cZ1umgdUwMHxwLLqfDGaD9CYkHmeBsTethqhZveqRY0s3gh3blQZX/xVq1yqg+NdnEPa3r3cdWzcmgtm7dr50vPYfYb6baQaYHRDwwHGdcxKcXWWRCFfzKAMiHh//3NG+aN80Rqj719tHgcWzMn86Hl2MMNP+D8LNT+ohevPz3jnqhCTC2c/nJsHdEzsNoldU5I1jpGcyXHzdtXQwW0X5syPnwiy4G87/S4Gbo3AjHS5+/VIKXO/3vVlw94StTAWzjxz+7fj7IkSNnByb00GDNCj7nyOLUSrcHPXDCL80PkmFm/lNPaSaAer3qthYsPifX78cQ/gQbhZfkQn3S495BlwcADTG4zQQAgAA" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDgdP+5CQmBjAocHoSu/eGAJh94P+ra5osINa3r4VOsy3TmGDsovvJcPUdliLyMLae975pjFC9B9KiwGr27ytyOroYof6N71YBGHvdtXSw+MkTBU6cC7Pgas7/S4GLK9xIh4ufm3CeBcYOW5kKN//3RYj6rMxKp4MGEHd2tBc7sRilwvWuWH4SrvctQ0g1A9SdzS2xYDVvXhc7hfAh3Ln4/kW4egDq4FSxLAEAAA==" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwMQ7E9OYmKAgjtme28IgFkH/n/6q8kCE58adE8Zxtb6u3caI1TNkS1RcL2Pw57rw9i3NwVXM0DVTL0UC1fz/a0JO4wNAPN5cEaEAAAA" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEAC2QSyiEURTHx2NBNFkRpayILKQMdso/IdmQItN4GxYWrLySUF41SV4z3/m+8Ul5NSJlweRdhDCFkRFJHqVkhMXkec/c1e/++t9zzj2uEL/WtNmrTE+DBWvlZb6av+MKILh0dmfI/0Wz/uP+ivX/px6DAktqlch43DLqr8sFh0cTDGHsu5MJPtmlgpNMChZn2etSLOjsYw4+JOh7mW33Ct69fTffCO/3zJKJ0LXAdVQD4eyHe40ZCRlJRsERMwRbOufVfkJTCufdu4RbI/urYkLcl33Yx/uX7aUi4RuDFOxMcM2HTRmDK5WCMx9lzKXx28l9GXdtzOZcQnw+15dfJTwQ+84DCfphrmP6m7Mwi3nkwgzbWbXgjlsJgeO1gncHJBx9VwjeOzYjyskZ9UbCuYP9ciTh0875khwrCqZ5Nl2qAs8JZ+qfVGwk8A6f5q3wT+TM6YeKmC2eIXR1HO137ONGCZeLec0a7x6GHHrhHS2EfC3nn7UywqZqBNe9KOhP5j2nR1jxC6920pcoAgAA" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwMQ7E9OYmKAgjtme28IgFkH/n/6q8kCE58adE8Zxtb6u3caI1TNkS1RcL2Pw57rw9i3NwVXM0DVTL0UC1fz/a0JO4wNAPN5cEaEAAAA" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEALsjwFzrsPqux4VbTC77k5OYGIAg2ovB5Y7Z3hsCIA7Dgf+f/mqygFj9rYwusy3TwGoefWZwKbqfDGYbazO4xItDxGOAehm9EsHs5gd/nDethojP8v3t3NINYe+R/e0c2wVh7weyv0LtbZ0KZD+DsBdY/3Zu3QgxZ777b+dr/yF2FS745exmmgFmJyz75bzOGaJ+v/Jv5yoLiPp1mr+dH2VAxO9x/3bW+rt3GiPUL0e2RIHFlW+yuBxdDDFz/e0/zpN3p4LZZ4T/OK9xQLjnST2EPXH/b2edEIj5z7X/OD+fC3XndaBfpkHM2ff+t3OkJ4S9n/2P87pr6WD2t3l/nDkXZoHZ1SV/nM//SwGzvzT8cVa4AVFT8fCP8/VLEPG2nj/O3/dC1O+UZHIJWwlx2+SfTC6/L0LUVM5ldjloAAlDoSusLixGEDXfLZhd1A9D3NCYxOTS+AQi3n+b0eX2puBqBmg4TL0UCxYXMGNzCeGDqC+OZHQRX5EJCcONDC495pBwnn3xtzMAWF9TfigCAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEAC2QWyiDcRjGN3ajlSZld6KULErK6UYrz75v37eUU2pqrdmwcWMuXDiEshSjLVlKTi2hSVm7UGshxJ0szWTC0ty4UuNCM9v/3f/q93963uc9xBT5U2rfszY4o8GpuS9Pknmd3xxiDaGoIvuRnKW/UlWyLBXpOaw3DzBPsUPE6IuZMVchwqgkXZ6plYomxvYgB7+P9MC0gLlF4s15HoYFYptcg2Sub79dQDJBHM/kOI4pZ+YciKSpl3eJB1dvZWw5BY5ayV8U5jHeRP6TVyBuJb3QI0CVCnmkuV0uA71Mv+8UceWlzC2lFivBfsaPuzwO1VTrLNHgfZo4reBR3U35wxMCPjZIdyd0MHgoZ/kT0AvE0kRmtsgg45EkULAzRH3HONz+WRifdfAoi5Jn3c7jIUx66Z6AnxD5b1wceg5otusWEb935JkcbMd5Ld1QVq6DrI48a286VF7QDOZRHWbfSTdCgyd/14Qkd4fVsIHp2942dBeS3+3SQrlvY1zTqoWzke6sMvH4B+gFkiIoAgAA" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDD8f9yUlMDGDww/EK/94bAmD2gf+/VLRYIOIvHGdbpkHVPHEsup/MBBOPF0eIM3olwtmbVqfB1bR0I9TEdiHEv8LtBbKfwdgPHFs3JsLFr/1Phut1M82Ai69zToKLV1kg1D/KQJipcm3vNEaoX07djoKrP7oY4f7Ju1Ph7DUOCDOf1CPM0QlBmP98LkJN7DSE2yI9EWauu5YOF+dcmAUXP/8vBS6ucAOh5vqlFLia73uz4OJhKxFue/59MieM3fgkFa7m9qbgagaoH6deioWrz952Bh53PeYZ8LAFACxGxqr4AQAA" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDPaf9yUlMDGBwz+kK/94bAmD2gf+/VLRYIOJ3nKYG3VOGsVWu7Z3GCFVz6nYUE0z8cdhzfRj7ZHdwNQNUzfKfsXA139+asMPYAIdNK+yEAAAA" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDA6f9yUlMDGDwwOkK/94bAmD2gf+/VLRYIOL3nKYG3VOGsVWu7Z3GCFVz6nYUE0z8cdhzfRj7ZHdwNQNUzfKfsXA139+asMPYADCIXACEAAAA" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDC8f9yUlMDGDwwvEK/94bAmD2gf+/VLRYIOI/HHklT8HZ8eJpUPXfHBm9EqHsL46bVqfB2S3dCDWxXQjxr3C7vjl+fZYEF2/diDDn2v9kJphdbqYZUPYnR42awyww9qMMmN4PjirX9k5jhLr51O0ouPlHFyfDzZy8OxVuZvd3WW0Y+2R3cDUDVO/yn7FwNd/fmrDD2ABuf+YqLAEAAA==" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDB6f9yUlMDGDwwekK/94bAmD2gf+/VLRYIOLvnKYG3VOGsVWu7Z3GCFVz6nYUE0z8cdhzfRj7ZHdwNQNUzfKfsXA139+asMPYAJjOz0GEAAAA" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDH8f9yUlMDGDwx/EK/94bAmD2gf+/VLRYIOIsTlOD7inD2CrX9k5jhKo5dTuKCSb+OOy5Pox9sju4mgGqZvnPWKgaDqfvb03YYWwAC375GoQAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDI8f9yUlMDGBw3fEK/94bAmD2gf+/VLRYIOLvHGdbpkHVvHYsup8MZT9yjBeHiT9wZPRKhLIfOm5aDRO/79jSjVAT9O4EC4z99RnM3ruOrRthep84XvufDFfvZpoBZd9zXOecBGdXWSDsepQBE3/qqHJt7zRGqPtP3Y6Cin9xPLo4GW7+5N2pUPZjxzUOSXBzntTD2K8cdUIS4eznc2Hizx233T/GAmOvu5YOFX/ryLkwC27++X8pcL0KN9Lh4tcvpcDN+b43C+6GsJUw93x1/H0RqqaByemgASzcfjmyGKXCzVE/nAzX2/gkFW7mye7gagao35f/jIWKf3cM4YOpf+YoviITrr7HPAMuDgBHqEzeEAIAAA==" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiH3yxZ4bAiAOw4H/rD5aLDDxqUH3lGFs6fV7pzFC1VxmiobrfRz2XB/G3twaXM0AVbP3fyxczfe3JuwwNgDmWLRFhAAAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiH3yxZ4bAiAOw4H/rD5aLDDxqUH3lGFs6fV7pzFC1VxmiobrfRz2XB/G3twaXM0AVbP3fyxczfe3JuwwNgDmWLRFhAAAAA==" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiH3yxZ4bAiAOw4H/rD5aLDDxqUH3lGFs6fV7pzFC1VxmiobrfRz2XB/Gdo4OrmaAqtHVioOr+f7WhB3GBgDSFzbJhAAAAA==" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiH3yxZ4bAiAOw4H/rD5aLDDxqUH3lGFs6fV7pzFC1VxmiobrfRz2XB/Gdo4OrmaAqtHVioOr+f7WhB3GBgDSFzbJhAAAAA==" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEALsjwFzrsPqux94SYbv9yUlMDEAAYp98seeGAIjDcOA/q48WC4j1ZKm03dSge8owtvT6vdMYoWouM0UzwcQfhz3Xh7Gdo4OrGaBqdLXiwGpmzZS0C+FLhqtffP8i3HwAomyHDJAAAAA=" />
    <add key="/lpc/nct6779d/voltage/9/values" value="H4sIAAAAAAAEALsjwFzrsPquh7phh/3+5CQmBiCw2tJhf/LFnhsCIA7Dgf+sPlosIJaPeaf91KB7yjC29Pq90xihai4zRYP1Hv7aYX90cTKcPXl3KtzMNQ4Q80F6zfk/wc1RP4xQ3/gkFa7GOTq4mgFqvq5WHFz8+1sTdhgbALkuJS/AAAAA" />
    <add key="/lpc/nct6779d/voltage/8/values" value="H4sIAAAAAAAEALsjwFzrsPquR7JAhMP+5CQmBiAAsU++2HNDAMRhOPCf1UeLBSY+NeieMowtvX7vNEaomstM0XC9j8Oe68PYztHB1QxQNbpacXA139+asMPYAHRO49+EAAAA" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEALsjwFzrsPquxyWlaIf9yUlMDEAAYp98seeGAIjDcOA/q48WC0x8atA9ZRhbev3eaYxQNZeZouF6H4c914exnaODqxmganS14uBqvr81YYexAfcul3aEAAAA" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEALsjwFzrsPquh4Bukf3+5CQmBiAAsU++2HNDAMRhOPCf1UeLBcS6VpFpzyt5Cs6OF08Dq3/xO9Oe0SsRzt60GiL+uy7LvqUboSa2C8H+CrULZM7XZ0lw8daNEHN+AfVe+58MZvMwZdu7mWbA2eucIep5gewqC4h6+dZs+0cZSXC9wh17pzFC3X9bMxpu/tHFyXD25N2pcDd0f5fVhrGdo4OrGaB6dbXi4Gq+vzVhh7EB7YjT1TgBAAA=" />
    <add key="/lpc/nct6779d/voltage/5/values" value="" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDg/3+5CQmBjBosD/5Ys8NATD7wH9WHy0WmPjUoHvKMLZwx95pjFA1tzWj4XrDHXbIwNjXL6WAxTsdG+y/782CqxFaY8AOY7MYpcLVqB9OhqtpfJIKZztHB1czQO3S1YqDi39/awI3BwBN53EMzAAAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEALsjwFzrsPquR/aeEIf9yUlMDEDwqCrE4eSLPTcEQByGA/9ZfbRYYOKzLdPAakDqi+4ng9lf/oY4xIsjxBm9EuHiGjd8pGBs4Y690xihZt7WjAarufA92OHo4mS4vZN3p8L1Rk7y54Ox111Lh5vPuTALrub8vxS4uMKNdLj4uQnnWWDssJWpcDW/L0LUR1qGOBw0QLiZxQhh74rlJ+F6naODqxmgbtbVioO7OYQvGa5XfEUmXG+PeQacDQB7O1kLXAEAAA==" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEALsjwFzrsPquR/aeEIf9yUlMDEDw5W+Iw4GDe24IgDgMB/7zFWuxwMSnBt1ThrGFO/ZOY4Squa0ZDdYbaRnicHRxMtwcuc3NujC2c3RwNQNUva5WHFx9CB9C/eL7F+F2AQBublDwnAAAAA==" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEALsjwFzrsPquhypbo/3+5CQmBiAAsQ8c3HNDAMRhOPCfr1iLBSY+NeieMowt3LF3GiNUzW3NaLjex2HP9WFs5+jgagaoGl2tOLia729N2GFsAGOHOOuEAAAA" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEALsjwFzrsPquxwKpfPv9yUlMDEAQtCPO/sDBPTcEQByGA//5irVYQKxfdVn2sy3TwGrkW7Pti+4ng9mp1vH28eJpcDajVyKYHfo41X7TaoR4SzeCHdsFYa93T7T/CrUXJP71GYQ950iCfetGiDlOCan21/4j7MrbqM0OYz/KQLhZuGPvNEaom29rRoPFr1Zk2h9djNA7eXcqnL3GAaH3SX0S3D06IRB7DTly7J/PRbgtdhrCnEhPCPuyb5L9umvp8DDhXJgFV3P+XwqYnTUx117hBkTNOqD51y+lwNV835sFFw9bCXFbxb54+98XIWpkolrsDxpAwkpxQ5H9HS6E+/1fIdzT+AQi/iM42d7GJLiaARoOJoFxYHG3bcX2IXzJ8LAVX5EJ19tjngFnAwD8M36dEAIAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>