<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/0/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="/lpc/nct6779d/fan/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANuhWlzjsPquBwODmNO2k0lMDGAg6OQ/LRHKFnACAIBlnyskAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANuhWlzjsPquBwNDu8u2k0lMDCDwod2lb28ihP2gwwUAV7hWPSQAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAGPxLa5xWH3XQzBplfOKk0lMDGDA7hy5NxHOBgDXvVZTJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg/FNt8uKk0lMDEDAyLDIOXJvIpwNAKAabAEkAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAGPxLa5xWH3XQzBJy2XFySQmBjBod47cmwhnAwDR/jN3JAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4HBwWHthyQmBgiwD5mWCGMzAABDrdFIJAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4HhhMPaD0lMDGBwwiFkWiKUfcABALJxDJ4kAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAGPxLa5xWH3XgwEIGNuPsDBAAQCBTeYhGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAGPxLa5xWH3Xg4Fhgf3aD0lMDBBgHzItEcZmAACCL1TgJAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAOMrKa5xWH3XI+TsSce1H5KYGICARfmkY+C0RDgbANivTY8kAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOMrKa5xWH3XIyFnv8vaD0lMDEDwYNF+l8BpiXA2AJJ+CpEkAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOMrKa5xWH3Xw0Gd0WXthyQmBiBw2MXgEjgtEc4GAPbdruskAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOMrKa5xWH3Xg4GBwfVf2xEWBghwBQAUpw7jGAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOMrKa5xWH3Xg4GBw+lf2xEWBjDgcAIA0aCZ+xgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPulylPrsPqux/Pr8k7btiQxMQDBrxvyTgAOljhxGAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPulylPrsPquRxbjGYdtW5KYGIDgBNMZBwALOgngGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPulylPrsPquB7ujpOO2LUlMDEAQ4SDpCAD5pKKiGAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJukkVXjsPquh+wKVscH+5KZGIDALeef/aU9iWB2Sf47ewC3VvOZJAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAMtizKpxWH3Xg2t+syPHs2QmBiDwyRF1ODI1EcxO4HxoDwAcsLD9JAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJukkVXjsPquB8PNiQ4P9iUzMQCBepmb/aU9iWD2S+Pp9gDf2ZKqJAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJukkVXjsPquB9fXlw4P9iUzMQCBgnWl/aU9iWB2A88JOwBR63saJAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJukkVXjsPqux65vixwe7EtmYgACpoZyh0t7EsFsv/vNDgAXEGwaJAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAJukkVXjsPquBwODvNODfclMDGAg4HRpTyKcDQCZHXT3JAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANPwyapxWH3Xg4FB3MlrdjITAxgIOF3akwhl8zkBANnKNLokAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEABP2y6pxWH3Xg4FB0MltXjITAxjwOL3enghlczoBAD0N1qQkAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANMIyKpxWH3Xg4FB2On7vGQmBjDgdlLdmghlszsBAJGXkEMkAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADMOzqpxWH3Xg4FBwSl0XjITAxgIOe3ZlAhl8zsBAAAktlgkAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANuhWlzjsPquR970E07bTiYxMQDBhWknnC5NSISzAfvgGgYkAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHNQz6lxWH3XI6fii8uDnUlMDEBwYdoJF9arCDYAkWDL2yQAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANtcnlfjsPqux6cLWq69u5KYGICgKYzDdfJbCPvCtBMuALLpWnokAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJtzoqDGYfVdj8c7vV0Pn0liYgACNRNWV6nXEPaFaSdcAH44jzkkAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANuhWlzjsPquh7lkguu2k0lMDEBwYdoJl0sTEuFsAPJrIpMkAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEANuhWlzjsPqux5Y9ho7bTiYxMQDB60vcjpcmJILZDjxcjgD9J5qYJAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEANuhWlzjsPqux4lbyxy2nUxiYgACnSxLh0sTEsHsQ2eNHADe/+kWJAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEANuhWlzjsPquBwMQdEQdYWGAAgAOPdpoGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEALsjwFzrsPquxwKpfPv9yUlMDEAQtCPOHgCr9aB7GAAAAA==" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEALsjwFzrsPquhypbo/3+5CQmBiAAsQFGVC6nGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEALsjwFzrsPquR/aeEIf9yUlMDEDw5W+IAwDyhC7qGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEALsjwFzrsPquR/aeEIf9yUlMDEDwqCrEAQC0gSZ7GAAAAA==" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDg/3+5CQmBjBosAcAVtXH/xgAAAA=" />
    <add key="/lpc/nct6779d/voltage/5/values" value="" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEALsjwFzrsPquh4Bukf3+5CQmBiAAsQFDPl+jGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEALsjwFzrsPquxyWlaIf9yUlMDEAAYgMAbH+mrxgAAAA=" />
    <add key="/lpc/nct6779d/voltage/8/values" value="H4sIAAAAAAAEALsjwFzrsPquR7JAhMP+5CQmBiAAsQGzOGcdGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/9/values" value="H4sIAAAAAAAEALsjwFzrsPquh7phh/3+5CQmBiCw2tJhDwBQ9hzGGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEALsjwFzrsPqux94SYbv9yUlMDEAAYgMAgxD1AhgAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiA0AHRta9BgAAAA=" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiA0AHRta9BgAAAA=" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiA0AHRta9BgAAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEALsjwFzrsPqux4RDX233JycxMQABiA0AHRta9BgAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDI8f9yUlMDGBw3REATnkhkBgAAAA=" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDH8f9yUlMDGDwxxEAy+14SxgAAAA=" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDB6f9yUlMDGDwwQkAng776RgAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDC8f9yUlMDGDwwhEA6YnIGhgAAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDA6f9yUlMDGDwwAkAoyCLxRgAAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDPaf9yUlMDGBwzwkA6ioD5BgAAAA=" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDD8f9yUlMDGDwwxEA1Ke4NhgAAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEALsjwFzrsPqux+4GV5f9yUlMDEAQ9M3NBQApAxDXGAAAAA==" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEALsjwFzrsPqux4VbTC77k5OYGIAg2ovBBQB7wQduGAAAAA==" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwMQ7E9OYmKAAgDYt1jRGAAAAA==" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEALsjwFzrsPqux+/i2S77k5OYGIDgDsdcFwBERzsfGAAAAA==" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwMQ7E9OYmKAAgDYt1jRGAAAAA==" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDgdP+5CQmBjAocAIAN3kLURgAAAA=" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEALsjwFzrsPquByvrU8f9yUlMDEDg6HjTEQAyRUFwGAAAAA==" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEALsjwFzrsPquBwNDgdP+5CQmBjAocAIAN3kLURgAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDCaf9yUlMDGBwwgkA5+jrZhgAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEALsjwFzrsPquBwPDCaf9yUlMDGBwwgkA5+jrZhgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>